<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ILMerge" publicKeyToken="736440c9b414ea16" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.1208.65535" newVersion="2.14.1208.65535" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>